@dark1:#0E0816;

@top-nav-height:8vh;

body {
	background-color:@dark1;
}

.top-nav {
	height:@top-nav-height;
}

.home-carousel {
  height:(100vh - @top-nav-height);
  width:100vw;

  .slick-slide {
    background-color:green;
  }
  .slick-list, .slick-track, .slide-slide {
    height:inherit;
  }
  .slick-prev {
    z-index:1;
    left:0px;
  }
  .slick-next {
    right:0px;
  }
}
