@dark1:#0E0816;

@top-nav-height:8%;

@font-size-body:2.1vh;
@font-size-header:3.2vh;

body {
	height:100vh;
	width:100vw;
	display:flex;
	flex-flow:row wrap;

	background-color:@dark1;
	font-size:@font-size-body;
}

.top-nav {
	height:@top-nav-height;

	h4 {
		//Override bootstrap font size
		font-size:@font-size-header;
		margin-left:20px;
		margin-right:15px;
	}
}

.pages {
	height:(100% - @top-nav-height);
  width:100%;
	overflow-y: auto;
}

.home-carousel {
  height:100%;
  width:100%;

  .slick-slide {
    background-color:blue;
  }
  .slick-list, .slick-track, .slide-slide {
    height:inherit;
  }
  .slick-prev {
    z-index:1;
    left:5px;
  }
  .slick-next {
    right:5px;
  }
}
