@black:#0E0816;
@body1:#E7DFDD;
@red:#B82601;
@violet:#813772;

@top-nav-height:8%;

body {
	height:100vh;
	width:100vw;
	display:flex;
	flex-flow:row wrap;

	background-color:@black;
	color:@body1;
	font-size:15px;
}

h3 {
	font-size:2.5em;
}

h4 {
	font-size:1.5em;
}

.top-nav {
	height:@top-nav-height;
	color:@body1; //OVR BS color

	h4 {
		margin-left:20px;
		margin-right:15px;
	}
}

.pages {
	height:(100% - @top-nav-height);
  width:100%;
	overflow-y: auto;
}

.left {
	float:left;
}
.right {
	float:right;
}

.home-carousel {
  height:100%;
  width:100%;

  .slick-slide {
    .overlay {
      position:absolute;
      padding-top:30px;
      padding-bottom:35px;
      padding-left:50px;
      padding-right:50px;
      width:inherit;
      height:inherit;

      .box {
        height:75%;
        width:30%;
        margin-top:40px;

        ul {
          padding-left:0px;
          list-style-type: none;

          li {
            padding-bottom:20px;
          }
        }

        &.left {
          padding-left:20px;
        }
        &.right {
          padding-left:30px;
        }
      }
    }

    img {
      height:inherit;
      width:100%;
    }
  }

  .slick-prev:before, .slick-next:before {
    color:@black;
  }
  .slick-list, .slick-track, .slick-slide {
    height:inherit;
  }
  .slick-prev {
    z-index:1;
    left:15px;
  }
  .slick-next {
    right:15px;
  }
}
