.home-carousel {
  height:100%;
  width:100%;

  .slick-slide {
    .overlay {
      position:absolute;
    }

    img {
      height:inherit;
      width:100%;
    }
  }
  .slick-list, .slick-track, .slick-slide {
    height:inherit;
  }
  .slick-prev {
    z-index:1;
    left:5px;
  }
  .slick-next {
    right:5px;
  }
}
