.home-carousel {
  height:100%;
  width:100%;

  .slick-slide {
    background-color:blue;
  }
  .slick-list, .slick-track, .slide-slide {
    height:inherit;
  }
  .slick-prev {
    z-index:1;
    left:5px;
  }
  .slick-next {
    right:5px;
  }
}
