.*
vendor/
dist/
bower_components/
aljcepeda.php
/nbproject
coverage
error_log
public/downloads
public/bower
access.log
error.log
*.lock
logs
**/node_modules/**
public/libs
public/fonts
npm-debug.log
