<title>About Me</title>

<p id="start"> In the middle of nowhere using a dirty Macbook Pro...</p>

<h1 class="starwarsHeader">Alfred Cepeda<sub>Nerd Extraordinaire</sub></h1>

<div id="titles">
	<div id="titlecontent">
		<p class="center">Web/Mobile/Software Engineer<br />Innovation Redefined </p>
		<br />
		<br />

		<p>It all started when I was 8 years old and a small electronic keyboard I was given for Christmas dwindled and died. I had the tools... I didn't have the money but still I knew there was a way!</p>
		<br />

		<p>Immediately I began taking it apart and was fascinated by the design of the circuit boards. I was never able to fix the keyboard, honestly I probably broke it worse, but dahm it I tried. Hard.</p>

		<br />
		<p>After that I was enthralled with everything science. I was in awe at the possibilities and soon began joining online communiities where I would develop the passion I still hold today</p>

		<br />
		<p>I truly believe the world can benefit from education and technology. I want to be a part of the revolution that's occurring right as we speak and develop the kind of software that will change lives</p>

		<br />
		<p>I began from humble beginnings but I've thrived in light of my oppositions and take great pride in the level of commitment and dedication I bring to my work on a daily basis </p>

		<br />
		<p>If you won't settle for anything less than the best then know we stand together as brethren who never stop striving for perfection</p>

		<p class="center"><strong>Know this</strong></p>
		<p class="center">I will make a difference</p>
		<br />
		<br />
		<br />
		<br />
		<p class="center"><a href="http://www.sitepoint.com/css3-starwars-scrolling-text/">CSS courtesy of: <br />Craig Buckler</a></p>
	</div>
</div>
<audio id="audioPlayer" style="display:none" src="/assets/sounds/starwars.mp3">
<script type="text/javascript">
	var player = document.getElementById('audioPlayer');
	setTimeout(function() { player.play(); }, 4000);
</script>
