<style>
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

.content-container {
	font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
	color: #ff6;
	background-color: #000;
	overflow: hidden;
}

p#start {
	position: absolute;
	width: 100%;
	top:40%;
	text-align: justify;
	overflow: hidden;
	font-size: 200%;
	font-weight: 400;
	color: #4ee;
	opacity: 0;
	z-index: 1;
	-webkit-animation: intro 4s ease-out;
	-moz-animation: intro 4s ease-out;
	-ms-animation: intro 4s ease-out;
	-o-animation: intro 4s ease-out;
	animation: intro 4s ease-out;
}

@media all and (max-width: 500px) {
	p#start {
		margin-left: -3.5em;
	}
}

@-webkit-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-moz-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-ms-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-o-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

.starwarsHeader {
	position: absolute;
	width: 18em;
	left: 50%;
	top: 30%;
	font-size: 10em;
	text-align: center;
	overflow: hidden;
	margin-left: -9em;
	letter-spacing: -0.05em;
	color: #000;
	text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
	opacity: 0;
	z-index: 1;
	-webkit-animation: logo 5s ease-out 4.5s;
	-moz-animation: logo 5s ease-out 4.5s;
	-ms-animation: logo 5s ease-out 4.5s;
	-o-animation: logo 5s ease-out 4.5s;
	animation: logo 5s ease-out 4.5s;
}

.starwarsHeader > sub {
	display: block;
	font-size: 0.3em;
	letter-spacing: 0;
	line-height: 1.5em;
}

@-webkit-keyframes logo {
	0% { -webkit-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -webkit-transform: scale(0.1); opacity: 0; }
}

@-moz-keyframes logo {
	0% { -moz-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -moz-transform: scale(0.1); opacity: 0; }
}

@-ms-keyframes logo {
	0% { -ms-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -ms-transform: scale(0.1); opacity: 0; }
}

@-o-keyframes logo {
	0% { -o-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -o-transform: scale(0.1); opacity: 0; }
}

@keyframes logo {
	0% { transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { transform: scale(0.1); opacity: 0; }
}

/* the interesting 3D scrolling stuff */
#titles {
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	text-align: justify;
	overflow: hidden;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: perspective(300px) rotateX(25deg);
	-moz-transform: perspective(300px) rotateX(25deg);
	-ms-transform: perspective(300px) rotateX(25deg);
	-o-transform: perspective(300px) rotateX(25deg);
	transform: perspective(300px) rotateX(25deg);
}

#titles:after {
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#titles p {
	text-align: justify;
	margin: 0.8em 0;
}

#titles p.center {
	text-align: center;
}

#titles a {
	color: #ff6;
	text-decoration: underline;
}

#titlecontent {
	position: absolute;
	top: 100%;
	-webkit-animation: scroll 100s linear 6s infinite;
	-moz-animation: scroll 100s linear 6s infinite;
	-ms-animation: scroll 100s linear 6s infinite;
	-o-animation: scroll 100s linear 6s infinite;
	animation: scroll 100s linear 6s infinite;
}

/* animation */
@-webkit-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-moz-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-ms-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-o-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}
</style>

<title>About Me</title>

<p id="start"> In the middle of nowhere using a dirty Macbook Pro...</p>

<h1 class="starwarsHeader">Alfred Cepeda<sub>Nerd Extraordinaire</sub></h1>

<div id="titles">
	<div id="titlecontent">
		<p class="center">Web/Mobile/Software Engineer<br />Innovation Redefined </p>
		<br />
		<br />

		<p>It all started when I was 8 years old and a small electronic keyboard I was given for Christmas dwindled and died. I had the tools... I didn't have the money but still I knew there was a way!</p>
		<br />

		<p>Immediately I began taking it apart and was fascinated by the design of the circuit boards. I was never able to fix the keyboard, honestly I probably broke it worse, but dahm it I tried. Hard.</p>

		<br />
		<p>After that I was enthralled with everything science. I was in awe at the possibilities and soon began joining online communiities where I would develop the passion I still hold today</p>

		<br />
		<p>I truly believe the world can benefit from education and technology. I want to be a part of the revolution that's occurring right as we speak and develop the kind of software that will change lives</p>

		<br />
		<p>I began from humble beginnings but I've thrived in light of my oppositions and take great pride in the level of commitment and dedication I bring to my work on a daily basis </p>

		<br />
		<p>If you won't settle for anything less than the best then know we stand together as brethren who never stop striving for perfection</p>

		<p class="center"><strong>Know this</strong></p>
		<p class="center">I will make a difference</p>
		<br />
		<br />
		<br />
		<br />
		<p class="center"><a href="http://www.sitepoint.com/css3-starwars-scrolling-text/">CSS courtesy of: <br />Craig Buckler</a></p>
	</div>
</div>
<audio id="audioPlayer" style="display:none" src="/assets/sounds/starwars.mp3">
<script type="text/javascript">
	$(function() {
		setTimeout(function() { $('#audioPlayer')[0].play(); }, 4000);
	});
</script>
