html, body {
	color: #fff;
	height: 96%;
}

body {
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	background: url(/assets/images/stars.jpg) no-repeat center center fixed;
	background-size: cover;
}

.outer-container {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.header, .footer{
  	flex: 1 auto;
  	width: 100%;
}

.header, .footer {
	text-align: center;
}

.aside { 
	flex: 1 0 50%;
}

.right > div {
	float:right;
	clear:both;
}

.header { order: 1; }
.left { order: 2; }
.right { order: 3; }
.footer  { order: 4; }