html, body {
	color: #fff;
}

.home-carousel {
	height:50%;
	width:50%;
}



.main .content {
  position:absolute;
  top:7%;
  left:0;
  right:0;
  bottom:0;
  overflow-y:auto;
  background-color:#B3E5FC
}
.main .menu {
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:7%;
  background-color: #333;
}

.menu h4 {
  margin:10px;
}

.outer-container {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	margin-left: auto;
	margin-right: auto;
}

.flex-container {
  	display: flex;
  	flex-flow: row wrap;
  	justify-content:space-around;
}

.header, .footer, .body{
  	flex: 1 auto;
  	width: 100%;
}

.header, .footer {
	text-align: center;
}
.text-center {
	text-align: center;
}

.right > div {
	float:right;
	clear:both;
}

.header { order: 1; }
.body { order: 2; }
.footer  { order: 4; }

.menu-small {
	overflow: auto;
	padding: 0;
}

.menu-small, .menu-small * {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.menu-small ul {
	padding: 0;
	margin: 7px 0;
}

.menu-small ul li {
	list-style: none;
	padding-top:10px;
	font-size: 15px;
	font-weight: normal;
	cursor: pointer;
	text-align: center;
}

.menu-small ul > li > div {
	margin-top:10px;
	margin-bottom:5px;
	padding-left:10px;
	padding-right:5px;
	background-color:white;
	text-align:left;
	display:none;
}
.menu-small ul li.active {
	background-color: #dedede;
	position: relative;
}

.menu-small ul li.active > div {
	display:block;
}

.menu-small ul li a {
	color: rgb(51, 51, 51);
	text-decoration: none;
}

.page {
  margin-top:64px;
  color: black;
	font-size: 16px;
  padding:5px;
}
.page-content {
  display:flex;
	flex-flow:row nowrap;
  align-items:center;
  justify-content:center;
}

#page_portfolio hr{
	height:1px;
	border:none;
	color:#333;
	background-color:#333;
}

.tall {
	height:100%;
}
