body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  background-color: #0E0816;
  font-size: 2.1vh;
}
.top-nav {
  height: 8%;
}
.top-nav h4 {
  font-size: 3.2vh;
  margin-left: 20px;
  margin-right: 15px;
}
.pages {
  height: 92%;
  width: 100%;
  overflow-y: auto;
}
.home-carousel {
  height: 100%;
  width: 100%;
}
.home-carousel .slick-slide {
  background-color: blue;
}
.home-carousel .slick-list,
.home-carousel .slick-track,
.home-carousel .slide-slide {
  height: inherit;
}
.home-carousel .slick-prev {
  z-index: 1;
  left: 5px;
}
.home-carousel .slick-next {
  right: 5px;
}
