body {
  background-color: #0E0816;
}
.top-nav {
  height: 10vh;
}
.home-carousel {
  height: 90vh;
  width: 100vw;
  background-color: blue;
}
.home-carousel .slick-prev {
  left: 0px;
}
.home-carousel .slick-next {
  right: 0px;
}
